

h1 {
	margin: 100px; 
    font-family: 'Playwrite HU', cursive;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 100px;
    color: #3d0770;
    line-height: 2.0;
    background: linear-gradient(90deg, #986dc2, #7843ab, #4b0c87); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    letter-spacing: 0.5px; 

}

